<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <form class="form-signin">
            <h5 class="card-title text-left">Введите логин</h5>
            <div class="form-label-group">
              <input type="text" id="name" class="form-control" required autofocus>
              <label for="name"> </label>
            </div>
            <h5 class="card-title text-left">Введите пароль</h5>
            <div class="form-label-group">
              <input type="text" id="password" class="form-control" required>
              <label for="name"> </label>
            </div>
            <h5 class="card-title text-left">Введите имя</h5>
            <div class="form-label-group">
              <input type="text" id="password" class="form-control" required>
              <label for="name"> </label>
            </div>
            <h5 class="card-title text-left">Введите email</h5>
            <div class="form-label-group">
              <input type="text" id="password" class="form-control" required>
              <label for="name"> </label>
            </div>
            <h5 class="card-title text-left">Введите ИНН</h5>
            <div class="form-label-group">
              <input type="text" id="password" class="form-control" required>
              <label for="name"> </label>
            </div>
            <h5 class="card-title text-left">Введите ОГРН</h5>
            <div class="form-label-group">
              <input type="text" id="password" class="form-control" required>
              <label for="name"> </label>
            </div>


            <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="reg()">Зарегистрироваться</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
